body {
  font-family: arial, sans-serif;
  margin: 0;
  margin-top: 11px;
  --graycolor: #f8f9fa;
  --bordercolor: #70757a;
}
p {
  margin: 0;
}
button:hover {
  cursor: pointer;
}
.header {
  display: flex;
  justify-content: end;
}
.header-button,
.header-button-apps {
  background-color: white;
  border-style: none;
  font-size: 13px;
  margin-left: 3px;
}
.header-button:hover {
  text-decoration: underline;
}
.header-button-apps {
  padding: 11px 9px 6px 10px;
  border-radius: 18px;
  margin-left: 15px;
}
.header-button-apps:hover {
  background-color: rgb(241, 241, 241);
}
.google-apps-icon {
  height: 18px;
}
.profile-picture {
  height: 33px;
  width: 33px;
  object-fit: cover;
  border-radius: 20px;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
  margin-top: 2px;
  margin-bottom: auto;
  margin-right: 10px;
  margin-left: 12px;
}
.content {
  margin-top: 208px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-box-container {
  position: relative;
}
.search-box {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(214, 213, 213);
  border-radius: 25px;
  width: 560px;
  padding: 10px;
}
.search-box:focus-within {
  height: 400px;
  display: flex;
  pointer-events: all;
}
.search-box:focus-within .search-history {
  pointer-events: all;
  opacity: 1;
}

.search-box:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
.search-box img {
  height: 24px;
}
.left {
  opacity: 0.7;
  margin-left: 5px;
  margin-right: 10px;
}
.left img {
  height: 20px;
}
.center {
  width: 100%;
  border-style: none;
  font-size: 14px;
  height: 20px;
}
input[type="text"] {
  box-sizing: border-box;
  outline: none;
}
input[type="text"]:focus {
  border-style: none;
}
.right {
  display: flex;
  justify-content: space-between;
  width: 70px;
  margin-right: 5px;
  height: 24px;
}
.search-buttons {
  position: relative;
  display: flex;
  justify-content: center;
}
.search-buttons div {
  position: absolute;
  background-color: rgb(53, 53, 53);
  border-width: 2px;
  border-color: white;
  color: white;
  white-space: nowrap;
  pointer-events: none;
  bottom: -50px;
  padding: 8px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-buttons div:after {
  /* arrow */
  content: "";
  border-color: transparent transparent rgb(53, 53, 53) transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  right: 45px;
}

.search-buttons:hover div {
  opacity: 1;
}
.search-history {
  position: absolute;
  top: 55px;
  border-top: 1px solid var(--bordercolor);
  width: 100%;
  opacity: 0;

  pointer-events: none;
  margin-left: -11px;
}

.history-suggestion {
  padding: 6px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 1px;
}

.history-suggestion:hover {
  background-color: var(--graycolor);
}
.history-suggestion img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin: 0 10px 0 10px;
}
.history-suggestion p {
  color: #52188c;
}

.history-suggestion button {
  position: absolute;
  z-index: 50;
  display: none;
}

.history-suggestion:hover button {
  display: block;
  border: none;
  background-color: transparent;
  right: 5px;
  color: #70757a;
}
.history-suggestion button:hover {
  color: blue;
  text-decoration: underline;
}
.bottom {
  display: inline-block;
  height: 465px;
  padding-top: 18px;
}
.bottom-buttons {
  font-size: 14;
  margin: 11px 4px 11px 4px;
  border-radius: 4px;
  border: 1px;
  padding: 0 16px 0 16px;
  height: 34px;
  color: rgb(60, 64, 67);
  border: none;
  background-color: #f8f9fa;
}
.bottom-buttons:hover {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

.footer {
  display: bolck;
  width: 100%;
  background-color: #f8f9fa;
  color: #70757a;
}
.location {
  padding: 15px 30px 15px 30px;
  height: 17;
}
.info {
  border-top-style: solid;
  border-width: 1px;
  border-color: #dadce0;
  text-align: center;
}
.info a {
  display: inline-block;
  color: var(--bordercolor);
  text-decoration: none;
  padding: 15px;
}
.info a:hover {
  text-decoration: underline;
}
